In [1]:
!pip install html5lib

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: html5lib in /home/mintokuruvilla/.local/lib/python3.13/site-packages (1.1)
Requirement already satisfied: six>=1.9 in /usr/lib/python3.13/site-packages (from html5lib) (1.17.0)
Requirement already satisfied: webencodings in /home/mintokuruvilla/.local/lib/python3.13/site-packages (from html5lib) (0.5.1)

In [2]:
# Supress all warnings
import warnings
warnings.simplefilter('ignore')

In [3]:
from bs4 import BeautifulSoup
import requests

In [4]:
html="<!DOCTYPE html><html><head><title>Page Title</title></head><body><h3><b id='boldest'>Lebron James</b></h3><p> Salary: $ 92,000,000 </p><h3> Stephen Curry</h3><p> Salary: $85,000, 000 </p><h3> Kevin Durant </h3><p> Salary: $73,200, 000</p></body></html>"

In [5]:
soup = BeautifulSoup(html, 'html.parser')

In [6]:
print(soup.prettify())

<!DOCTYPE html>
<html>
 <head>
  <title>
   Page Title
  </title>
 </head>
 <body>
  <h3>
   <b id="boldest">
    Lebron James
   </b>
  </h3>
  <p>
   Salary: $ 92,000,000
  </p>
  <h3>
   Stephen Curry
  </h3>
  <p>
   Salary: $85,000, 000
  </p>
  <h3>
   Kevin Durant
  </h3>
  <p>
   Salary: $73,200, 000
  </p>
 </body>
</html>

In [7]:
tag_object = soup.title
print('tag_object: ', tag_object)

tag_object:  <title>Page Title</title>

In [8]:
type(tag_object)

bs4.element.Tag

In [9]:
tag_object = soup.h3
tag_object

In [10]:
tag_child = tag_object.b
tag_child

In [11]:
parent_tag = tag_child.parent
parent_tag

In [12]:
sibling_1 = tag_object.next_sibling
sibling_1

In [13]:
sibling_2 = sibling_1.next_sibling
sibling_2

In [14]:
sibling_3 = sibling_2.next_sibling
sibling_3

In [15]:
tag_child['id']

'boldest'

In [16]:
tag_child.attrs

{'id': 'boldest'}

In [17]:
tag_child.get('id')

'boldest'

In [19]:
tag_string = tag_child.string
tag_string

'Lebron James'

In [20]:
type(tag_string)

bs4.element.NavigableString

In [24]:
unicode_string = str(tag_string)
unicode_string

'Lebron James'

In [25]:
type(unicode_string)

str

In [26]:
# Filter

In [27]:
table="<table><tr><td id='flight' >Flight No</td><td>Launch site</td><td>Payload mass</td></tr><tr><td>1</td><td><a href='https://en.wikipedia.org/wiki/Florida'>Florida</a></td><td>300 kg</td></tr><tr><td>2</td><td><a href='https://en.wikipedia.org/wiki/Texas'>Texas</a></td><td>94 kg</td></tr><tr><td>3</td><td><a href='https://en.wikipedia.org/wiki/Florida'>Florida</a> </td><td>80 kg</td></tr></table>"

In [28]:
table_bs = BeautifulSoup(table, 'html.parser')

In [30]:
table_rows = table_bs.find_all('tr')
table_rows

[<tr><td id="flight">Flight No</td><td>Launch site</td><td>Payload mass</td></tr>,
 <tr><td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a></td><td>300 kg</td></tr>,
 <tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr>,
 <tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a> </td><td>80 kg</td></tr>]

In [31]:
for i, row in enumerate(table_rows):
    print("Row ", i, row)

Row  0 <tr><td id="flight">Flight No</td><td>Launch site</td><td>Payload mass</td></tr>
Row  1 <tr><td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a></td><td>300 kg</td></tr>
Row  2 <tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr>
Row  3 <tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a> </td><td>80 kg</td></tr>

In [32]:
first_row = table_rows[0]
first_row

In [33]:
type(first_row)

bs4.element.Tag

In [34]:
first_row.td

In [37]:
for i, row in enumerate(table_rows):
    print("Row ", i, row)
    cells = row.find_all('td')
    for j, cell in enumerate(cells):
        print("           Cell", j, cell)

Row  0 <tr><td id="flight">Flight No</td><td>Launch site</td><td>Payload mass</td></tr>
           Cell 0 <td id="flight">Flight No</td>
           Cell 1 <td>Launch site</td>
           Cell 2 <td>Payload mass</td>
Row  1 <tr><td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a></td><td>300 kg</td></tr>
           Cell 0 <td>1</td>
           Cell 1 <td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a></td>
           Cell 2 <td>300 kg</td>
Row  2 <tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr>
           Cell 0 <td>2</td>
           Cell 1 <td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td>
           Cell 2 <td>94 kg</td>
Row  3 <tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a> </td><td>80 kg</td></tr>
           Cell 0 <td>3</td>
           Cell 1 <td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a> </td>
           Cell 2 <td>80 kg</td>

In [38]:
list_input = table_bs.find_all(['tr', 'td'])
list_input

[<tr><td id="flight">Flight No</td><td>Launch site</td><td>Payload mass</td></tr>,
 <td id="flight">Flight No</td>,
 <td>Launch site</td>,
 <td>Payload mass</td>,
 <tr><td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a></td><td>300 kg</td></tr>,
 <td>1</td>,
 <td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a></td>,
 <td>300 kg</td>,
 <tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr>,
 <td>2</td>,
 <td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td>,
 <td>94 kg</td>,
 <tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a> </td><td>80 kg</td></tr>,
 <td>3</td>,
 <td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a> </td>,
 <td>80 kg</td>]

In [39]:
table_bs.find_all(id = 'flight')

In [40]:
table_bs.find_all(href=True)

[<a href="https://en.wikipedia.org/wiki/Florida">Florida</a>,
 <a href="https://en.wikipedia.org/wiki/Texas">Texas</a>,
 <a href="https://en.wikipedia.org/wiki/Florida">Florida</a>]

In [43]:
table_bs.find_all('a', href=False)

[]

In [44]:
table_bs.find('a')